@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Biryani:wght@400;600;700;800;900&family=Explora&family=Libre+Barcode+39+Text&family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-barcode {
        font-family: 'Libre Barcode 39 Text', cursive;
    }
    *, html {
        scroll-behavior: smooth !important;
    }
    body {
        background-color: #fff;
    }
    .to-reveal {
        opacity: 0;
        filter: blur(5px);
        transition: all 1s;
    }
    .from-t {
        transform: translateY(-100%);
    }
    .from-l {
        transform: translateX(-100%);
    }
    .from-r {
        transform: translateX(100%);
    }
    .from-b {
        transform: translateY(100%);
    }
    .reveal {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transform: translateY(0);
    }

    .fill-bar {
        width: 0;
        overflow-x: hidden;
        transition: all 1.8s;
    }
    .filled-bar {
        width: 100%;
    }
}

@layer components {
    .bs-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: 768px) {
        .bs-container {
          max-width: 750px;
        }
    }
    @media (min-width: 992px) {
        .bs-container {
          max-width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .bs-container {
          max-width: 1170px;
        }
    }

    .black-title {
        @apply text-center font-biriyani font-black text-5xl mt-11 max-md:text-4xl text-black
    }
    .white-title {
        @apply text-center font-biriyani font-black text-5xl mt-11 max-md:text-4xl text-white
    }

}