@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Biryani:wght@400;600;700;800;900&family=Libre+Barcode+39+Text&family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-barcode {
        font-family: 'Libre Barcode 39 Text', cursive;
    }
    *, html {
        scroll-behavior: smooth !important;
    }
    body {
        background-color: #fff;
    }
    /* .sticky-nav {
        position: sticky;
        bottom: 0;
    } */
}

@layer components {
    .bs-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: 768px) {
        .bs-container {
          max-width: 750px;
        }
    }
    @media (min-width: 992px) {
        .bs-container {
          max-width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .bs-container {
          max-width: 1170px;
        }
    }

}